# UE5 build artifacts
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# IDE
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# OS
Thumbs.db
.DS_Store

# Compiled assets
*.asm.js
*.wasm
